[Unit]
Description=Nomad Client

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/nomad agent -client -config=/etc/nomad

[Install]
WantedBy=multi-user.target
