[Unit]
Description=Nomad Server

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/nomad agent -config=/etc/nomad/conf/node.hcl -config=/etc/nomad/conf/general.hcl -config=/etc/nomad/conf/server.hcl >/dev/null &

[Install]
WantedBy=multi-user.target
